<!DOCTYPE html>
<html>
<head>
    <title>{{name}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>{{name}}</h1>
        <input type = "hidden" name="id" value="{{id}}">
        <p>Имя: {{name}}</p>
        <p>Номер телефона: {{number}}</p>
        <a title="клац" href="/addItem">Добавить товар</a>
        <a title="Перейти к товарам" href="/itemList">Каталог</a>
</body>
<html>